* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --bg: #fff;
  --main-bg: #fff;
  --card-bg: #eeeeee;
  --card-hover-bg: #cecece;
  --card-text: #000;
  --content-right-bg: #eeeeee;
  --sidebar-text: #242424;
  --image-border-hover: #242424;
}

.dark-mode {
  --bg: #000;
  --main-bg: #0c0c0c;
  --card-bg: #444444;
  --card-hover-bg: #383838;
  --card-text: #fff;
  --content-right-bg: #707070;
  --sidebar-text: #fafafa;
  --image-border-hover: #fff;
}

body {
  background-color: var(--bg);
  position: relative;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

.side-bar-toggle {
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: transparent;
  transition: 0.15s;
}

.side-bar-toggle img {
  height: 20px;
}

.side-bar-toggle:active {
  margin-left: 3px;
}

.side-bar .s-ico {
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}

.side-bar .ico-expanded {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.side-bar .active {
  background-color: #ff6969;
}

.side-bar .s-ico img {
  height: 17px;
  width: 20px;
}

.side-bar .s-ico:hover {
  background-color: #f8a2a2;
}

.side-bar .active:hover {
  background-color: #ff6969;
}

.side-bar .s-text {
  color: var(--sidebar-text);
  font-size: 13px;
  height: 20px;
  transition: 0.1s;
}

.active .s-text {
  color: #dbdbdb;
}

.hide {
  display: none;
}

/* MAIN */
/* MAIN */
/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  /* crthyv */
  margin-left: 65px;
  min-height: 100vh;
  border-radius: 20px;
  background-color: var(--main-bg);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.top-nav {
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  /* border-bottom: 1px solid #cacaca; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg);
  /* opacity: 0.7; */
  z-index: 2;
}

.top-nav .dabble-ico {
  cursor: pointer;
  height: 30px;
  display: flex;
}

.dabble-ico img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.dabble-ico p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--card-text);
}

.top-nav .search-bar {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.top-nav input {
  width: 80%;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  color: var(--card-text);
  border: 1px solid gray;
  height: 36px;
  padding: 5px 15px;
  font-size: 15px;
  transition: 0.3s;
  margin: auto;
}

.top-nav input:hover {
  width: 100%;
}

.top-nav input:focus {
  width: 100%;
}

.top-nav .search-btn {
  position: absolute;
  right: 5px;
  top: 3px;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  /* color: rgb(119, 118, 118); */
  /* font-size: 13px; */
  transition: 0.3s;
  cursor: pointer;
  /* display: none; */
}

.search-btn:active {
  transform: scale(1.2);
}

.top-nav .search-btn img {
  width: 30px;
  height: 30px;
}

.buttons {
  display: flex;
  align-items: center;
}

.mode,
.sign {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.mode {
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

.mode img {
  height: 20px;
  /* padding: 3px 7px; */
}

.sign {
  margin-left: 15px;
  border-radius: 12px;
  padding: 7px 17px;
}

.mode:hover,
.sign:hover {
  transform: scale(1.1);
  background-color: #fd5050;
}

/* dubious lines of code */
.sign a {
  text-decoration: none;
  color: inherit;
}

/* MAIN CONTENT */
/* MAIN CONTENT */
/* MAIN CONTENT */

.content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 5px;
}

.content-main {
  margin: 0 auto;
  width: 77%;
  /* overflow-y: scroll; */
}

.content-main::-webkit-scrollbar {
  /* display: none; */
}

.content-main h3 {
  margin: 30px 0 10px;
  font-size: 1.1rem;
  color: #727272;
  font-weight: 700;
}

.banner {
  width: 100%;
  border-radius: 15px;
  height: 350px;
  overflow: hidden;
}

.banner video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.banner img:hover {
  transform: scale(1.1);
}

.trends,
.recents,
.books,
.page-content {
  margin-left: 15px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.container button {
  /* border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.1s; */
}

.container .ico {
  height: 18px;
}

.slide-btn {
  position: absolute;
  top: 43%;
  background-color: #000;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-btn:active {
  margin-top: 5px;
}

.slide-btn:hover {
  transform: scale(1.5);
}

.slide-btn-1 {
  left: -10px;
}

.slide-btn-2 {
  right: -10px;
}

.books .slide-btn {
  top: 70%;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
  /* padding-right: 10px;  */
}

.post-gap {
  gap: 18px;
}

.xx {
  white-space: nowrap;
  overflow-x: scroll;
  border-radius: 10px;
}

.xx::-webkit-scrollbar {
  display: none;
}

.trend-card,
.book-card,
.page-content-card {
  height: 240px;
  background-color: var(--card-bg);
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 31.9%;
  min-width: 31.9%;
  transition: 0.3s;
}

.trend-card:hover,
.book-card:hover,
.page-content-card:hover {
  background-color: var(--card-hover-bg);
}

.book-card img:hover,
.page-content-card:hover {
  transform: scale(1.05);
}

.trend-card a,
.recent-card a,
.book-card a,
.page-content-card a {
  text-decoration: none;
  color: inherit;
}

.trend-card img,
.page-content-card img,
.trend-card video,
.page-content-card video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 210px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.trend-card p,
.page-content-card p {
  font-size: 12px;
  color: var(--card-text);
  margin: 0 10px;
}

/* PSEUDO CAROUSELS */
/* PSEUDO CAROUSELS */
/* PSEUDO CAROUSELS */
/* PSEUDO CAROUSELS */

/* .shop-slider-container {
  margin: 1vh 0;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.margin-class {
  margin-top: 140px;
}

.new-item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  /* justify-content: start;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
}

.new-item::-webkit-scrollbar {
  display: none;
} */

/* RECENTLY VIEWED */
/* RECENTLY VIEWED */
/* RECENTLY VIEWED */

/* .recent-posts {
  gap: 30px;
  margin-left: 10px;
  width: 100%;
}

.recent-card {
  height: 260px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 48%;
  min-width: 48%;
  position: relative;
}

.recent-card img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 260px;
}

.recent-card p {
  position: absolute;
  bottom: 5px;
  left: 8px;
  font-size: 12px;
  color: #fff;
  margin: 5px 10px;
  background-color: #fd5050;
  padding: 3px 7px;
  border-radius: 5px;
} */

/* BOOKS */
/* BOOKS */
/* BOOKS */

.book-card {
  margin-top: 120px;
  height: 110px;
  overflow: visible;
  position: relative;
  box-shadow: none;
  padding: 10px;
}

.book-card img {
  object-fit: cover;
  position: absolute;
  width: 45%;
  height: 200px;
  top: -115px;
  left: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.book-card p,
.book-card button {
  margin-left: 60%;
  text-align: justify;
  font-size: 0.8rem;
  color: var(--card-text);
}

.book-card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card button {
  padding: 2px 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #fd5050;
  border: none;
  transition: 0.3s;
}

.book-card button:hover {
  background-color: #242424;
}

/* PAGE CONTENT */
/* PAGE CONTENT */
/* PAGE CONTENT */

.page-content-card {
  flex-basis: 31%;
}

.page-content .posts {
  flex-wrap: wrap;
}

/* CONTENT RIGHT */
/* CONTENT RIGHT */
/* CONTENT RIGHT */

.content-right {
  margin: 0 auto;
  width: 21%;
  position: sticky;
  top: 85px;
  right: 0;
  overflow-y: scroll;
}

.content-right::-webkit-scrollbar {
  display: none;
}

.content-right h3 {
  margin: 3px 5px;
  font-size: 1rem;
  color: #727272;
  font-weight: 700;
}

/* .cr-content {
  padding: 8px;
  background-color: #dbdbdb;
  border-radius: 10px;
  margin-bottom: 20px;
} */

.cr-content hr {
  text-align: center;
  width: 90%;
  margin: 8px auto;
  border: 1px solid thin;
}

.cr-content .post {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  cursor: pointer;
  background-color: var(--content-right-bg);
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  text-decoration: none;
  color: var(--card-text);
}

.cr-content .post:hover {
  background-color: var(--card-hover-bg);
}

.cr-content img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.cr-content h5 {
  font-weight: 500;
  line-height: 15px;
}

.cr-content p {
  font-size: 0.75rem;
  line-height: 15px;
}

/* TOP CREATOR */
/* TOP CREATOR */
/* TOP CREATOR */

.top-creator .post {
  padding: 10px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.top-creator img {
  border: 3px solid #f33d3d;
  border-radius: 50%;
}

.top-creator span {
  text-align: center;
}

.top-creator .active {
  background-color: #202020;
  color: white;
  font-size: 0.8rem;
  padding: 2px 8px;
  border-radius: 20px;
}
.top-creator p {
  margin-top: 3px;
  font-size: 0.6rem;
}

/* .top-nav::after{
  height: 200px;
  display: block;
} */

/* .image-bg {
  flex-basis: 45%;
  border-radius: 20px;
  background-image: url(/Images/cloudy.jpg);
  height: 95%;
  width: 100%;
} */

/* .btn-2{
  margin-top: 25px;
  width: 240px;
  height: 35px;
  border-radius: 30px;
  border: none;
  background-color: #f33d3d;
  color: white;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-2:hover {
  background-color: #fd5050;
} */

/* MODAL */
/* modal */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(2px);
}

.pop-modal {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--main-bg);
  min-width: 1100px;
  border-radius: 30px;
  z-index: 3;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.post-view {
  min-width: 67%;
  /* flex-basis: 70%; */
  /* height: 100%; */
  align-self: stretch;
}

.post-view img,
.post-view video {
  border-radius: 30px;
  min-height: 535px;
  min-width: 720px;
  height: 540px;
  width: 725px;
  object-fit: cover;
  object-position: center;
}

/* right */
.right-side {
  min-width: 30%;
  padding-top: 10px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.image-text img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 5px solid #fd5050;
  transition: 0.3s;
}

.image-text img:hover {
  border-color: var(--image-border-hover);
  padding: 3px;
}

.name-time {
  display: inline-block;
}

.name-time a {
  text-decoration: none;
  color: inherit;
}

.name-time h3 {
  color: var(--card-text);
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.name-time p {
  color: rgb(136, 135, 135);
  font-size: 0.8rem;
}

.follow {
  background-color: transparent;
  border: none;
  color: #fd5050;
  font-size: 1.3rem;
  font-family: cursive;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}

.follow:hover {
  color: #f8a2a2;
  transform: scale(1.1);
}

.caption {
  margin: 10px 0;
  padding: 0 5px;
  text-align: start;
  line-height: 17px;
  font-size: 0.9rem;
  color: var(--card-text);
}

.comments {
  margin: 15px 0;
  min-height: 220px;
  max-height: 221px;
  overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  display: none;
}

.comments .image-text {
  align-items: start;
  margin-bottom: 10px;
}

.actions {
  margin: 10px 0;
}

.interactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.interactions img {
  cursor: pointer;
  height: 45px;
  width: 45px;
  transition: 0.3s;
}

.interactions img:hover {
  transform: scale(1.2);
}

.actions p {
  padding: 0 20px;
  font-size: 0.8rem;
  text-align: left;
  color: var(--card-text);
}

.actions p span {
  font-weight: 700;
}

.add-comment {
  width: 100%;
  margin: 10px 0 20px;
}

.add-comment input,
.add-comment button {
  border: none;
  background-color: transparent;
  width: 80%;
  outline: none;
}

.add-comment input {
  color: var(--card-text);
}

.add-comment button {
  color: var(--bg);
  background-color: var(--card-text);
}

.add-comment input {
  padding-left: 15px;
}

.add-comment button {
  width: 18%;
  border-radius: 5px;
  transition: 0.3s;
}

.add-comment button:hover {
  background-color: #242424;
  color: white;
}

/* modal classes */
.show-modal {
  /* display: block; */
  transition: 0.3s;
}

.hidden {
  display: none;
}
