* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --bg: #fff;
  --main-bg: #fff;
  --card-bg: #eeeeee;
  --card-hover-bg: #cecece;
  --card-text: #000;
  --sidebar-text: #242424;
  --image-border-hover: #242424;
  --profile-bg: #fff;
}

.dark-mode {
  --bg: #000;
  --main-bg: #0c0c0c;
  --card-bg: #444444;
  --card-hover-bg: #383838;
  --card-text: #fff;
  --sidebar-text: #fafafa;
  --image-border-hover: #fff;
  --profile-bg: #111;
}

body {
  background-color: var(--bg);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

.side-bar-toggle {
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: transparent;
  transition: 0.15s;
}

.side-bar-toggle img {
  height: 20px;
}

.side-bar-toggle:active {
  margin-left: 3px;
}

.side-bar .s-ico {
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}

.side-bar .ico-expanded {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.side-bar .active {
  background-color: #ff6969;
}

.side-bar .s-ico img {
  height: 17px;
  width: 20px;
}

.side-bar .s-ico:hover {
  background-color: #f8a2a2;
}

.side-bar .active:hover {
  background-color: #ff6969;
}

.side-bar .s-text {
  color: var(--sidebar-text);
  font-size: 13px;
  height: 20px;
  transition: 0.1s;
}

.active .s-text {
  color: #dbdbdb;
}

.hide {
  display: none;
  transition: 0.3s;
}

/* MAIN */
/* MAIN */
/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  /* crthyv */
  margin-left: 65px;
  min-height: 100vh;
  border-radius: 20px;
  background-color: var(--main-bg);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.top-nav {
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  /* border-bottom: 1px solid #cacaca; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  /* opacity: 0.7; */
  z-index: 2;
}

.top-nav .dabble-ico {
  cursor: pointer;
  height: 30px;
  display: flex;
}

.dabble-ico img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.dabble-ico p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--card-text);
}

.top-nav .search-bar {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.top-nav input {
  width: 80%;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  color: var(--card-text);
  border: 1px solid gray;
  height: 36px;
  padding: 5px 15px;
  font-size: 15px;
  transition: 0.3s;
  margin: auto;
}

.top-nav input:hover {
  width: 100%;
}

.top-nav input:focus {
  width: 100%;
}

.top-nav .search-btn {
  position: absolute;
  right: 5px;
  top: 3px;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  /* color: rgb(119, 118, 118); */
  /* font-size: 13px; */
  transition: 0.3s;
  cursor: pointer;
  /* display: none; */
}

.search-btn:active {
  transform: scale(1.2);
}

.top-nav .search-btn img {
  width: 30px;
  height: 30px;
}

.buttons {
  display: flex;
  align-items: center;
}

.mode,
.sign {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.mode {
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

.mode img {
  height: 20px;
  /* padding: 3px 7px; */
}

.sign {
  margin-left: 15px;
  border-radius: 12px;
  padding: 7px 17px;
}

.mode:hover,
.sign:hover {
  transform: scale(1.1);
  background-color: #fd5050;
}

/* dubious lines of code */
.sign a {
  text-decoration: none;
  color: inherit;
}

/* MAIN CONTENT */
/* MAIN CONTENT */
/* MAIN CONTENT */

.content {
  /* display: flex;
  align-items: start;
  justify-content: space-between; */
  /* gap: 10px; */
  margin: 10px;
}

/* .top-section {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  
} */

/* CONTENT MAIN */
/* CONTENT MAIN */
/* CONTENT MAIN */

.content-main {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.banner {
  width: 100%;
  border-radius: 15px;
  height: 350px;
  overflow: hidden;
}

.banner img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: 0.5s;
}

.banner img:hover {
  transform: scale(1.1);
}

.profile-content {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 33%; */
  /* height: 330px; */
  border-radius: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: var(--profile-bg);
}

.profile-image {
  margin: 7px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(245, 65, 65);
  transition: 0.5s;
}

.profile-image:hover {
  border-color: var(--image-border-hover);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 50%;
}

.profile-content h3 {
  color: var(--card-text);
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.profile-content h5 {
  text-align: center;
  font-weight: 500;
  color: var(--sidebar-text);
  font-size: 0.8rem;
}

/* .profile-content button {
  margin: 10px 0!important; 
} */

.profile-content p {
  text-align: justify;
  padding-bottom: 5px;
  font-weight: 500;
  margin: 5px 20px;
  color: var(--sidebar-text);
  font-size: 0.8rem;
  width: 340px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--card-text);
}

.tag {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.75rem;
  color: white;
  padding: 5px 10px;
  background-color: #3b3b3b;
  border-radius: 5px;
}

.profile-buttons {
  display: flex;
  width: 100%;
  margin: 20px auto 0;
  align-items: center;
  justify-content: space-around;
}

.profile-buttons button {
  margin: 0 !important;
}

.msg {
  background-color: #fd5050 !important;
}

.msg a {
  color: inherit;
  text-decoration: none;
}

.msg:hover {
  background-color: #3b3b3b !important;
}

.edit {
  background-color: transparent !important;
  border: 1px solid var(--card-text) !important;
  color: var(--card-text) !important;
  transition: 0.3s;
}

.edit:hover {
  border-color: #3b3b3b !important;
  background-color: #3b3b3b !important;
  color: white !important;
}

.portfolio-link {
  margin-top: 5px;
  color: var(--card-text);
}

.portfolio-link a {
  color: inherit;
  text-decoration: none;
  font-size: 0.7rem;
  color: #727272;
}

/* BOTTOM SECTION */
/* BOTTOM SECTION */
/* BOTTOM SECTION */

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button:hover {
  width: 160px;
  /* height: 38px; */
}

.page-content-card {
  flex-basis: 31%;
}

.page-content .posts {
  flex-wrap: wrap;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  width: 100%;
}

.page-content-card a {
  text-decoration: none;
  color: inherit;
}

.page-content-card {
  height: 240px;
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 23%;
  min-width: 23%;
  transition: 0.3s;
}


.page-content-card:hover {
  background-color: #cecece;
  background-color: var(--card-hover-bg);
  transform: scale(1.05);
}

.page-content-card img,
.page-content-card video {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 210px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-content-card p {
  font-size: 12px;
  margin: 0 10px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card button {
  padding: 2px 10px;
  border-radius: 3px;
  color: white;
  background-color: #fd5050;
  border: none;
  transition: 0.3s;
}

/* BOOKS */
/* BOOKS */
/* BOOKS */

/* .book-card {
  margin-top: 120px;
  height: 110px;
  overflow: visible;
  position: relative;
  box-shadow: none;
  padding: 10px;
}

.book-card img {
  object-fit: cover;
  position: absolute;
  width: 45%;
  height: 200px;
  top: -115px;
  left: 20px;
  border-radius: 10px;
}

.book-card p,
.book-card button {
  margin-left: 60%;
  text-align: justify;
  font-size: 0.75rem;
} */

/* .top-nav::after{
  height: 200px;
  display: block;
} */

/* .image-bg {
  flex-basis: 45%;
  border-radius: 20px;
  background-image: url(/Images/cloudy.jpg);
  height: 95%;
  width: 100%;
} */

.btn-2 {
  margin: 25px 10px;
  margin-left: 0;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #3b3b3b;
  color: white;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-2:hover {
  background-color: #fd5050;
}

/*  JS Selectors */

.active {
  background-color: #fd5050;
}

.tab-content-hide {
  display: none;
  /* visibility: hidden; */
  background-color: green;
}


/* MODAL */
/* modal */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(2px);
}

.pop-modal {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--main-bg);
  min-width: 1100px;
  border-radius: 30px;
  z-index: 3;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.post-view {
  min-width: 67%;
  /* flex-basis: 70%; */
  /* height: 100%; */
  align-self: stretch;
  /* object-fit: fill; */
}

.post-view img,
.post-view video {
  border-radius: 30px;
  /* min-height: 535px;
  min-width: 720px; */
  height: 540px;
  width: 725px;
  object-fit:cover;
  object-position: center;
}

/* right */
.right-side {
  min-width: 30%;
  padding-top: 10px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.image-text img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 5px solid #fd5050;
  transition: 0.3s;
}

.image-text img:hover {
  border-color: var(--image-border-hover);
  padding: 3px;
}

.name-time {
  display: inline-block;
}

.name-time a {
  text-decoration: none;
  color: inherit;
}

.name-time h3 {
  color: var(--card-text);
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.name-time p {
  color: rgb(136, 135, 135);
  font-size: 0.8rem;
}

.follow {
  background-color: transparent;
  border: none;
  color: #fd5050;
  font-size: 1.3rem;
  font-family: cursive;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}

.follow:hover {
  color: #f8a2a2;
  transform: scale(1.1);
}

.caption {
  margin: 10px 0;
  padding: 0 5px;
  text-align: start;
  line-height: 17px;
  font-size: 0.9rem;
  color: var(--card-text);
}

.comments {
  margin: 15px 0;
  min-height: 220px;
  max-height: 221px;
  overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  display: none;
}

.comments .image-text {
  align-items: start;
  margin-bottom: 10px;
}

.actions {
  margin: 10px 0;
}

.interactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.interactions img {
  cursor: pointer;
  height: 45px;
  width: 45px;
  transition: 0.3s;
}

.interactions img:hover {
  transform: scale(1.2);
}

.actions p {
  padding: 0 20px;
  font-size: 0.8rem;
  text-align: left;
  color: var(--card-text);
}

.actions p span {
  font-weight: 700;
}

.add-comment {
  width: 100%;
  margin: 10px 0 20px;
}

.add-comment input,
.add-comment button {
  border: none;
  background-color: transparent;
  width: 80%;
  outline: none;
}

.add-comment input {
  color: var(--card-text);
}

.add-comment button {
  color: var(--bg);
  background-color: var(--card-text);
}

.add-comment input {
  padding-left: 15px;
}

.add-comment button {
  width: 18%;
  border-radius: 5px;
  transition: 0.3s;
}

.add-comment button:hover {
  background-color: #242424;
  color: white;
}

/* modal classes */
.show-modal {
  /* display: block; */
  transition: 0.3s;
}

.hidden {
  display: none;
}


.book-card img {
  object-fit: cover;
  position: absolute;
  width: 30%;
  height: 120px;
  top: -40px;
  left: 40px; 
  border-radius: 10px;
  transition: 0.3s;
}

.book-card p,
.book-card button {
  margin-left: 50%;
  text-align: justify;
  font-size: 0.8rem;
  color: var(--card-text);
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card button {
  padding: 2px 10px;
  border-radius: 3px;
  color: white;
  background-color: #fd5050;
  border: none;
  transition: 0.3s;
  width: fit-content;
}

.book-card a {
  text-decoration: none;
  color: white;
}

.book-card button:hover {
  background-color: #242424;
}


.book-card {
  margin-top: 50px;
  height: 90px;
  min-width: 32.5%;
  background-color: var(--card-bg);
  overflow: visible;
  position: relative;
  box-shadow: none;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.book-card img:hover,
.post-card img:hover{
  transform: scale(1.1);
}
