{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="container">
        <div class="column">
          <a href="postpage.html">
            <h3>Animation</h3>
          <img src="{% static 'images/(23).jpg' %}" alt="" />
          </a>
        </div>
        <div class="column"><a href="postpage.html">
          <h3>Design</h3>
        <img src="{% static 'images/(14).jpg' %}" alt="" />
        </a></div>
        <div class="column">
          <a href="postpage.html">
            <h3>Film</h3>
          <img src="{% static 'images/(13).jpg' %}" alt="" />
          </a>
        </div>
        <div class="column">
          <a href="postpage.html">
            <h3>Illustrator</h3>
          <img src="{% static 'images/(18).jpg' %}" alt="" />
          </a>
        </div>
        <div class="column">
          <a href="postpage.html">
            <h3>Photography</h3>
          <img src="{% static 'images/(12).jpg' %}" alt="" />
          </a>
        </div>
        <div class="column">
          <a href="postpage.html">
            <h3>Stories</h3>
          <img src="{% static 'images/(17).jpg' %}" alt="" />
          </a>
        </div>
      </div>

{% endblock %}