{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Top navigational bar -->
     {% include 'partials/_topnavigationbar.htm' %}

<div class="content">
    <div class="content-main">
      <div class="banner">
        <img src="{% static 'images/cloudy.jpg' %}" alt="" />
      </div>

      <section class="trends">
        <h3>[] Trends</h3>
        <div class="container">
          <button class="slide-btn slide-btn-1">
            <img src="{% static 'icons/backarrow 2icons.svg' %}" alt="" class="ico" />
          </button>
          <div class="posts xx" id="rootTrends">
            
          </div>
          <button class="slide-btn slide-btn-1">
            <img src="/Icons/arrow 2icons.svg" alt="" class="ico" />
          </button>
        </div>
      </section>

      {% comment %} <section class="recents">
        <h3>Recently Viewed</h3>
        <div class="container">
          <button>
            <img src="{% static 'icons/backarrow 2icons.svg' %}" alt="" class="ico" />
          </button>
          <div class="recent-posts posts xx">
            <div class="recent-card">
              <a href="postpage.html">
                <img src="/Images/ (6).jpg" alt="" />
              <p>Modern Abstract Composition in 3D</p>
              </a>
            </div>
            <div class="recent-card">
              <img src="/Images/ (2).jpg" alt="" />
              <p>Modern Abstract Composition in 3D</p>
            </div>

            <div class="recent-card">
              <img src="/Images/ (6).jpg" alt="" />
              <p>Modern Abstract Composition in 3D</p>
            </div>
            <div class="recent-card">
              <img src="/Images/ (2).jpg" alt="" />
              <p>Modern Abstract Composition in 3D</p>
            </div>
          </div>
          <button>
            <img src="/Icons/arrow 2icons.svg" alt="" class="ico" />
          </button>
        </div>
      </section> {% endcomment %}

      <section class="books">
        <h3>[] Recommended Books</h3>
        <div class="container">
          <button class="slide-btn slide-btn-1">
            <img src="/Icons/backarrow 2icons.svg" alt="" class="ico" />
          </button>
          <div class="posts xx" id="recommended__books">
            {% comment %} <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Machine's Way</p>
              <p>Ronald Awudi</p>
              <button><a href="postpage.html">Read</a></button>
            </div>

            <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Lady Liberty</p>
              <p>Brie Tankson</p>
              <button><a href="postpage.html">Read</a></button>
            </div>

            <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Ancient Poems</p>
              <p>Serwah Cole</p>
              <button><a href="postpage.html">Read</a></button>
            </div>

            <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Machine's Way</p>
              <p>Ronald Awudi</p>
              <button><a href="postpage.html">Read</a></button>
            </div>

            <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Lady Liberty</p>
              <p>Brie Tankson</p>
              <button><a href="postpage.html">Read</a></button>
            </div>

            <div class="book-card">
              <img src="/Images/ (16).jpg" alt="" />
              <p>Ancient Poems</p>
              <p>Serwah Cole</p>
              <button><a href="postpage.html">Read</a></button>
            </div> {% endcomment %}
          </div>
          <button class="slide-btn slide-btn-1">
            <img src="/Icons/arrow 2icons.svg" alt="" class="ico" />
          </button>
        </div>
      </section>

      <section class="page-content">
        <h3>[] Posts</h3>
        <div class="posts"  id="rootPost">

        </div>
      </section>
    </div>

    <!-- CONTENT RIGHT -->
     {% include 'partials/_sidebarcomponent.htm' %}
    <!-- <div class="content-right">
      <section class="most-viewed cr-content">
        <h3>Most Viewed</h3>
        <a class="post" href="postpage.html">
            <img src="/Images/(35).jpg" alt="" />
          <span>
            <p>Labrador Painting</p>
            <h5>Matt Sam</h5>
          </span>
        </a> -->
        <!-- <hr /> -->
        <!-- <a class="post" href="postpage.html">
          <img src="/Images/ (19).jpg" alt="" />
          <span>
            <p>Chuuchuu Simulation</p>
            <h5>Ronald Awudi</h5>
          </span>
        </a> -->
        <!-- <hr /> -->
        <!-- <a class="post" href="postpage.html">
          <img src="/Images/ (7).jpg" alt="" />
          <span>
            <p>Bamboo Agency Group Logo</p>
            <h5>Lucy Ann</h5>
          </span>
        </a>
      </section> -->

      <!-- <section class="top-creator cr-content">
        <h3>Top Creator</h3>
        <a class="post" href="postpage.html">
          <img src="/Images/ (18).jpg" alt="" />
          <span>
            <h5>Matt Sam</h5>
            <p>Multimedia</p>
          </span>
          <div class="active">Active</div>
        </a>
        <a class="post" href="postpage.html">
          <img src="/Images/(20).jpg" alt="" />
          <span>
            <h5>Prince Asante</h5>
            <p>Advertising</p>
          </span>
          <div class="active">Offline</div>
        </a>
        <a class="post" href="postpage.html">
          <img src="/Images/(23).jpg" alt="" />
          <span>
            <h5>Shawn Mensah</h5>
            <p>Visual Communication</p>
          </span>
          <div class="active">Active</div>
        </a>
        <a class="post" href="postpage.html">
          <img src="/Images/(21).jpg" alt="" />
          <span>
            <h5>Jeff Bediako</h5>
            <p>Advertising</p>
          </span>
          <div class="active">Active</div>
        </a>
      </section> -->
    </div>
  </div>

  
{% endblock %}

{% block include_js %}
    <script  src="{% static 'js/topCreators.js' %}"></script>
    <script src="{% static 'js/mostViewed.js' %}"></script>
    <script src="{% static 'js/recommendedBooks.js' %}"></script>
    <script src="{% static 'js/postController.js' %}"></script>
    <script src="{% static 'js/trendsController.js' %}"></script>
{% endblock %}