{% extends 'base.html' %}
{% block title %}| Profile {% endblock %}
{% load static %}

{% block content %}

 <!-- Top navigational bar -->
    <div class="main" id="main-view">
      <!-- Top navigational bar -->
      {% comment %} {% include 'partials/_topnavigationbar.htm' %} {% endcomment %}
      {% include 'partials/_topnavigationbar.htm' %}

      <div class="content">

        <div class="content-main">
            <div class="banner" >
              <img src="/Images/cloudy.jpg" alt="" id="banner"/>
            </div>

            <div class="profile-content">
            <div class="profile-image" >
              <img src="/dabble assets/broooo.jpg" alt="" id="profile-pic">
            </div>

            <h3 id="creator-name">
              {% comment %} Jeffrey Dahmer {% endcomment %}
            </h3>
            <h5 id="creator-programme">
              {% comment %} Creative Multimedia {% endcomment %}
            </h5>

            

            <p id="biography">
              {% comment %} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam animi accusamus ipsam cum labore. {% endcomment %}
            </p>

            <div class="tags">
              <h4>Interests</h4>
              <div class="tag">Music</div>
              <div class="tag">Anime</div>
              <div class="tag">Cars</div>
              <div class="tag">Food</div>
              <div class="tag">Travel</div>
            </div>

            <div class="profile-buttons">
              <button class="btn-2 msg">

                <a href="{% url 'chat:chatty' %}">Message</a>
              </button>
            
            <button class="btn-2 edit">Edit Profile</button>
            </div>

            </div>

            <div class="portfolio-link">
              Portfolio <a href="#" id="numOfWorks"></a>
            </div>
        </div>

        <!-- BOTTOM SECTION -->
        <div class="bottom-section">

          <section class="page-content">
            
              <div class="button-container">
                <button id="post-tab" class="btn-2 active tab">Posts</button>
              <button id="watchlist-tab" class="btn-2 tab">Watchlist</button>
              </div>

            <div class="posts allCreatorPosts" id="post-container">
              {% comment %} <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button class=""><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div> {% endcomment %}
              
            </div>

            <div class="posts tab-content-hide watchlist-container" id="watchlist-container">
              {% comment %} <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Second section</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button ><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div>
              <div class="page-content-card">
                <a href="postpage.html"><img src="/Images/ (3).jpg" alt="" />
                <p>Character Modeling In 3D</p></a>
              </div>
              <div class="book-card">
                <img src="/Images/ (16).jpg" alt="" />
                <p>Machine's Way</p>
                <p>Ronald Awudi</p>
                <button><a href="postpage.html">Read</a></button>
              </div> {% endcomment %}
              
            </div>
          </section>
        </div>
        <!--  -->
        <!--  -->
    </div>
  </div>
{% endblock %}

{% block include_js %}
  <script src="{% static 'js/profileController.js' %}"></script>
  <script src="{% static 'js/userFavorites.js' %}"></script>

    <script>
    // Tab component Show/HIde
      const postTab = document.getElementById("post-tab");
      const watchlistTab = document.getElementById("watchlist-tab");
      const postContainer = document.getElementById("post-container");
      const watchlistContainer = document.getElementById("watchlist-container");


      function swapTabs(tab, tabContent) {
        tab.addEventListener("click", function () {
          // if (
          //   !tab.classList.contains("active") &&
          //   tabContent.classList.contains("tab-content-hide")
          // ) {

            pushNPop(document.querySelectorAll(".tab"), document.querySelectorAll(".posts"));

            tab.classList.add("active");
            tabContent.classList.remove("tab-content-hide");
          // } else {
          //   return;
          // }
        });
      }

      //add and remove classes
      function pushNPop (arr ,arr2) {
        for (let i = 0; i < arr.length; i++) {
        arr[i].classList.remove('active');
      }
        for (let i = 0; i < arr2.length; i++) {
        arr2[i].classList.add('tab-content-hide');
      }
      }

      // function calls
      swapTabs(postTab, postContainer)
      swapTabs(watchlistTab, watchlistContainer)
    </script>
{% endblock %}