{% extends 'base.html' %}
{% block title %}| Search {% endblock %}
{% load static %}

{% block content %}
    <div class="main" id="main-view">
          {% comment %} Top navigation bar {% endcomment %}
{% include 'partials/_topnavigationbar.htm' %}

      <div class="sort-bar">
        <div>
          <input type="checkbox" name="all" checked>
        <label for="all">All</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="animation">Animation</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="film">Film</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="series">Series</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="design">Design & Illustration</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="shorts">Shorts</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="photography">Photography</label>
        </div>
        
        <div>
          <input type="checkbox" name="all">
        <label for="story">Story</label>
        </div>
      </div>

      <!-- search cards -->
      <section class="posts-section" id="search-result-container">

        <div class="posts">
          <div class="book-card show-modal">
            <p class="hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vero dolor exercitationem iste dolorem pariatur explicabo commodi fugiat distinctio necessitatibus suscipit placeat minus, similique molestias aut quae, maiores voluptatem temporibus nesciunt autem consectetur! Id, optio incidunt facere delectus iure consectetur ipsum tempora at eligendi recusandae laboriosam! Molestiae dolor ipsam velit accusantium omnis earum maiores consectetur minus ex qui. Rerum non, inventore sit tenetur fugit possimus nostrum asperiores cupiditate consequatur officiis dolor laboriosam dolorum iusto omnis veniam amet distinctio ad cum similique quibusdam deserunt nulla eveniet? Labore, officiis delectus eveniet sed voluptatibus magnam, voluptate modi quam inventore ipsam hic corrupti saepe.</p>
          
            <img src="/UI's/dabble assets/ch p.png" alt="" />
            <p>The Chess Prodigy</p>
            <p>Jennifer Dahmer</p>
            <button class="show-card">Read</button>
          </div>

          <div class="page-content-card show-modal">
                <video
                src="/Portfolio/Treat Truck (3).mp4"
                muted
                autoplay 
                contriols
                poster=""
              ></video>
                <p>Christmas Icecream</p>
          </div>

          <div class="page-content-card show-modal">
                <img src="/Portfolio//jennifer_s works/sub.jpg" alt="" />
                <p>Photography</p>
          </div>
        </div>
      </section>

      <!-- books -->
      <section class="books">

          <div class="posts ">
            <div class="book-card">
              <img src="/Portfolio/BOOKS/BOOK 1.png" alt="" />
              <p>The Beginners Guide To Branding</p>
              <p>Creative media</p>
              <button><a target="_blank" href="https://dl.dropboxusercontent.com/sh/d6plg2q4oydvpcs/AACazcHZ9SJwz-8i8bDIocAca/Archivos%20Infobooks%20ING/Temas/265%20Graphic%20Design/17.%20The%20Beginner%27s%20Guide%20to%20Branding%20author%20Creative%20Market.pdf?dl=1">Read</a></button>
            </div>            
          </div>

      </section>

      <div class="overlay hidden"></div>
    <!-- MODAL -->
    <!-- MODAL -->
    <!-- MODAL -->
    <div class="pop-modal modal hidden">
      <div class="post-view">
        <img class="modal-image hidden" src="" alt="Modal Image">

        <div class="vid-container hidden show-controls"> 
          <div class="wrapper">
              <div class="video-timeline">
                  <div class="progress-area">
                      <span>00:00</span>
                      <div class="progress-bar"></div>
                  </div>
              </div>
              <ul class="video-controls">
                  <li class="options left">
                      <button class="volume"><i class="fa-solid fa-volume-high"></i></button>
                      <input type="range" min="0" max="1" step="any">
                      <div class="video-timer">
                          <p class="current-time">00:00</p>
                          <p class="separator"> / </p>
                          <p class="video-duration">00:00</p>
                      </div>
                  </li>
                  <li class="options center">
                      <button class="skip-backward"><i class="fas fa-backward"></i></button>
                      <button class="play-pause"><i class="fas fa-play"></i></button>
                      <button class="skip-forward"><i class="fas fa-forward"></i></button>
                  </li>
                  <li class="options right">
                      <div class="playback-content">
                          <button class="playback-speed"><span class="material-symbols-rounded">slow_motion_video</span></button>
                          <ul class="speed-options">
                              <li data-speed="2">2x</li>
                              <li data-speed="1.5">1.5x</li>
                              <li data-speed="1" class="active">Normal</li>
                              <li data-speed="0.75">0.75x</li>
                              <li data-speed="0.5">0.5x</li>
                          </ul>
                      </div>
                      <button class="pic-in-pic"><span class="material-icons">picture_in_picture_alt</span></button>
                      <button class="fullscreen"><i class="fa-solid fa-expand"></i></button>
                  </li>
              </ul>
          </div>
          <video class="modal-video"
          autoplay
          loop
          poster="">
        </div>

        <p class="modal-text hidden"></p>
      </div>

      <div class="right-side">
        <!-- creator info -->
        <div class="top-section">
          <div class="image-text">
            <a href="profilepage.html">
              <img src="/Images/ (1).jpg" alt="" />
            </a>

            <div class="name-time">
              <a href="profilepage.html">
                <h3>Alan Dalani</h3>
              </a>
              <p>12 days ago</p>
            </div>
          </div>
          <button class="follow">Follow</button>
        </div>

        <p class="caption">
          Art is where it all starts. The goal is simple, be the best to do it.
        </p>

        <hr />
        <!-- comments -->
        <div class="comments">
          <div class="image-text">
            <a href="profilepage.html">
              <img src="/Images/ (2).jpg" alt="" />
            </a>

            <div class="name-time">
              <a href="profilepage.html">
                <h3>Jenni Addo</h3>
              </a>
              <p>Im enthralled😍</p>
            </div>
          </div>

          <div class="image-text">
            <a href="profilepage.html">
              <img src="/Images/ (5).jpg" alt="" />
            </a>
            <div class="name-time">
              <a href="profilepage.html">
                <h3>Ronald the Conqueror</h3>
              </a>
              <p>Interesting, how much to conquer?</p>
            </div>
          </div>

          <div class="image-text">
            <a href="profilepage.html">
              <img src="/Images/ (3).jpg" alt="" />
            </a>
            <div class="name-time">
              <a href="profilepage.html">
                <h3>Brago</h3>
              </a>

              <p>An amazing piece</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="actions">
          <div class="interactions">
            <img src="/Icons/likeicon1.svg" class="like" alt="" />
            <!-- <img src="/Icons/saveicon1.svg" class="save" alt="" /> -->
            <img src="/Icons/saveicon1.svg" class="fave" alt="" />
          </div>

          <p>Liked by <span>Jess Asante</span> and <span>23</span> others</p>
        </div>

        <hr />

        <div class="add-comment">
          <input type="text" placeholder="Add comment.." />
          <button type="submit">Post</button>
        </div>
      </div>

      <hr />
    </div>

    </div>
{% endblock %}

{% block include_js %}
    <script src="{% static 'js/search.js' %}"></script>

{% endblock %}

{% block domready %}
           // MODAL VARIABLES
      const modal = document.querySelector(".modal");
      const overlay = document.querySelector(".overlay");
      const btnOpenModal = document.querySelectorAll(".show-modal");
      const modalImage = document.querySelector('.modal-image');
      const modalVideo = document.querySelector('.modal-video');
      const modalText = document.querySelector('.modal-text');

      // MODAL FUNCTIONS
      // ///////////////
      const openModal = function (i) {
        return function() {
          modal.classList.remove("hidden");
          overlay.classList.remove("hidden");

          const objectPath = btnOpenModal[i].children[0];
          const src = objectPath.getAttribute("src");

          if (objectPath.tagName === "IMG") {
            // Handle image
            modalImage.classList.remove("hidden");
            modalVideo.classList.add("hidden");
            modalText.classList.add("hidden");
            modalImage.setAttribute("src", src);
          } else if (objectPath.tagName === "VIDEO") {
            // Handle video
            modalImage.classList.add("hidden");
            modalText.classList.add("hidden");
            modalVideo.classList.remove("hidden");
            modalVideo.setAttribute("src", src);
            modalVideo.load(); // Ensure the video loads with the new source
          } else
          if (objectPath.tagName === "P") {
            // Handle stories
            modalImage.classList.add("hidden");
            modalVideo.classList.add("hidden");
            modalText.classList.remove("hidden");
            modalText.textContent = objectPath.textContent
          }
        }
      };

      const closeModal = function () {
        modal.classList.add("hidden");
        overlay.classList.add("hidden");

        // Reset the modal content
        modalImage.classList.add("hidden");
        modalVideo.classList.add("hidden");
        modalVideo.setAttribute("src", ""); // Clear the video src
      };

      // Adding event listeners to each button
      btnOpenModal.forEach((button, i) => button.addEventListener("click", openModal(i)));

      overlay.addEventListener("click", closeModal);

      document.addEventListener("keydown", function (e) {
        if (e.key === "Escape" && !modal.classList.contains("hidden")) {
          closeModal();
        }
      });

    <!-- Modal buttons(like, save icons) -->
      // interaction buttons
      const likeButton = document.querySelector(".like");
      const saveButton = document.querySelector(".save");
      const faveButton = document.querySelector(".fave");

      likeButton.addEventListener("click", () => {
        let src =
          likeButton.getAttribute("src") === "/Icons/likeicon1.svg"
            ? "/Icons/likeicon2.svg"
            : "/Icons/likeicon1.svg";
        likeButton.setAttribute("src", src);
      });

      // DO NOT DELETE!!!!!!!
      // saveButton.addEventListener("click", () => {
      //   let src =
      //     saveButton.getAttribute("src") === "/Icons/saveicon1.svg"
      //       ? "/Icons/saveicon2.svg"
      //       : "/Icons/saveicon1.svg";
      //   saveButton.setAttribute("src", src);
      // });

      faveButton.addEventListener("click", () => {
        let src =
          faveButton.getAttribute("src") === "/Icons/saveicon1.svg"
            ? "/Icons/saveicon2.svg"
            : "/Icons/saveicon1.svg";
        faveButton.setAttribute("src", src);
        
            });
{% endblock %}