{% extends 'base.html' %}
{% block title %}| Search {% endblock %}
{% load static %}

{% block content %}
    <div class="main" id="main-view">
      <div class="top-nav">
        <div class="dabble-ico">
          <img src="{% static 'icons/dabblelogo.svg'%}" alt="" />
          <p>| Virtual Tour</p>
        </div>
        <div class="search-bar">
          <input type="search" placeholder="Search" />
          <button class="search-btn">
            <a href="{% url 'anime_html:search' %}"
              ><img href src="{% static 'icons/searchiconnew.svg' %}" alt=""
            /></a>
          </button>
        </div>
        <div class="buttons">
          <button class="mode theme-toggle">
            <img src="{% static 'icons/modeicon22.svg' %}" alt="" />
          </button>
          <button class="sign"><a href="signin.html">Log Out</a></button>
        </div>
      </div>
    </div>

{% endblock %}