{% extends 'base.html' %}
{% block title %}| VirtualTour {% endblock %}
{% load static %}

{% block content %}


<div class="main" id="main-view">
  
  <!-- Dashboard Top navigational bar -->
  {% include 'partials/_dashboardtopnav.html' %}

      <div class="content-view">

          <button class="carousel-button prev" >&#8656;</button>
          
          <div class="carousel-inner" >
            <div class="carousel-item">
              <video src="{% static 'video/bg-video-1.mp4' %}" autoplay loop muted></video> 
            </div>

            <div class="carousel-item">
              <video src="{% static 'video/bg-video-2.mp4' %}" autoplay loop muted></video> 
            </div>

            <div class="carousel-item">
              <video src="{% static 'video/bg-video-3.mp4' %}" autoplay loop muted></video> 
            </div>

            <div class="carousel-item">
              <video src="{% static 'video/bg-video-4.mp4' %}" autoplay loop muted></video> 
            </div>
            
            <div class="carousel-item">
              <video src="{% static 'video/bg-video-5.mp4' %}" autoplay loop muted></video> 
            </div>
            
            <div class="carousel-item">
              <video src="{% static 'video/bg-video-6.mp4' %}" autoplay loop muted></video> 
            </div>
          
            <div class="carousel-item">
              <video src="{% static 'video/bg-video-1.mp4' %}" autoplay loop muted></video> 
            </div>
        
            <div class="carousel-item">
              <video src="{% static 'video/bg-video-2.mp4' %}" autoplay loop muted></video> 
            </div>
          </div>

          <button class="carousel-button next">&#8658;</button>

      </div>

            
    </div>

      </div>

    </div>


{% endblock %}

{% block include_js %}
    <script src="{% static 'js/sidebar.js' %}"></script>
<script>
    const slideCarousel = (
        prevButton,
        nextButton,
        carouselContent,
        carouselItems
      ) => {
        document.addEventListener("DOMContentLoaded", function () {
          let currentIndex = 0;

          function updateCarousel() {
            const width = carouselItems[0].clientWidth + 20;
            const offset = -currentIndex * width;

            for (let i = 0; i < carouselItems.length; i++) {
              carouselItems[i].style.transform = "translateX(" + offset + "px)";
            }
          }

          prevButton.addEventListener("click", function () {
            if (currentIndex > 0) {
              currentIndex--;
            } else {
              currentIndex = carouselItems.length - 1; // Go to the last item
            }
            updateCarousel();
          });

          nextButton.addEventListener("click", function () {
            if (currentIndex < carouselItems.length - 3) {
              currentIndex++;
            } else {
              currentIndex = 0; // Go back to the first item
            }
            updateCarousel();
          });
        });
      };

      slideCarousel(
        document.querySelector(".prev"),
        document.querySelector(".next"),
        document.querySelector(".carousel-inner"),
        document.querySelectorAll(".carousel-item")
      );
    </script>

{% endblock %}