{% load static %}
    
<div class="side-bar" id="side-bar">


  <button class="side-bar-toggle" id="side-bar-toggle">
    <img id="side-toggle-img" src="{% static 'icons/arrow 2icons.svg' %}" alt="" />
  </button>
  {% if not user.is_authenticated %}
  <a class="s-ico {% if selection == 'home'%} active {% endif %}" href="{% url 'anime_html:index' %}">
    <img src="{% static 'icons/homeicons.svg' %}" alt="" />
    <span class="s-text hide">Home</span>
  </a>

  <a class="s-ico {% if selection == 'library'%} active {% endif %}" href="{%  url 'lib:library' %}">
    <img src="{% static 'icons/library darkicons.svg' %}" alt="" />
    <span class="s-text hide">Library</span>
  </a>

  <a class="s-ico {% if selection == 'exhibition'%} active {% endif %}" href="{%  url 'anime_html:gallery' %}" >
    <img src="{% static 'icons/profile darkicons.svg' %}" alt="" />
    <span class="s-text hide">Exhibition</span>
  </a>
  
   <a class="s-ico {% if selection == 'tour'%} active {% endif %}">
    <img src="{% static 'icons/virtual tour darkicons.svg' %}" alt="" />
    <span class="s-text hide">Virtual Tour</span>
  </a>

  {% else %}
   <a class="s-ico {% if selection == 'home'%} active {% endif %}" href="{% url 'anime_html:index' %}">
    <img src="{% static 'icons/homeicons.svg' %}" alt="" />
    <span class="s-text hide">Home</span>
  </a>
 
  <a class="s-ico {% if selection == 'profile'%} active {% endif %}" href="{% url 'anime_html:profile_page' request.user.creator_profile.id request.user.creator_profile.slug %}">
    <img src="{% static 'icons/profile icon darkicons.svg' %}" alt="" />
    <span class="s-text hide">Profile</span>
  </a>
  <a class="s-ico {% if selection == 'library'%} active {% endif %}" href="{%  url 'lib:library' %}">
    <img src="{% static 'icons/library darkicons.svg' %}" alt="" />
    <span class="s-text hide">Library</span>
  </a>
  <a class="s-ico {% if selection == 'exhibition'%} active {% endif %}" href="{% url 'anime_html:gallery' %}">
    <img src="{% static 'icons/profile darkicons.svg' %}" alt="" />
    <span class="s-text hide">Exhibition</span>
  </a>
  <a class="s-ico {% if selection == 'tour'%} active {% endif %}" href="{% url 'anime_html:virtualtour' %}">
    <img src="{% static 'icons/virtual tour darkicons.svg' %}" alt="" />
    <span class="s-text hide">Virtual Tour</span>
  </a>
  <a class="s-ico {% if selection == 'settings'%} active {% endif %}" href="{% url 'users_html:settings' %}">
    <img src="{% static 'icons/settings darkicons.svg' %}" alt="" />
    <span class="s-text hide">Settings</span>
  </a>
  <a class="s-ico {% if selection == 'post'%} active {% endif %}" href="{% url 'anime_html:dashbaord' %}">
    <img src="{% static 'icons/Post darkicons.svg' %}" alt="" />
    <span class="s-text hide">Post</span>
  </a>
   {% endif %}
</div>
