{% load static %}       

      <div class="content-right">
          <section class="most-viewed cr-content" id="rootMostViewed">
            <h3>Most Viewed</h3>
            
          </section>

          <section class="top-creator cr-content" id="topCreator">
            <h3>Top Creator</h3>
          </section>
        </div>

<script src="{% static "js/sidebar.js" %}"></script>
<script  src="{% static 'js/topCreators.js' %}"></script>
<script src="{% static 'js/mostViewed.js' %}"></script>