{% load static %}
<!-- CONTENT RIGHT -->
<div class="content-right">
    <section class="most-viewed cr-content" id="rootMostViewed">
      <h3>Most Viewed</h3>
      <!-- <a class="post" href="postpage.html">
          <img src="/Images/(35).jpg" alt="" />
        <span>
          <p>Labrador Painting</p>
          <h5>Matt Sam</h5>
        </span>
      </a> -->
      <!-- <hr /> -->
      <!-- <a class="post" href="postpage.html">
        <img src="/Images/ (19).jpg" alt="" />
        <span>
          <p>Chuuchuu Simulation</p>
          <h5>Ronald Awudi</h5>
        </span>
      </a> -->
      <!-- <hr /> -->
      <!-- <a class="post" href="postpage.html">
        <img src="/Images/ (7).jpg" alt="" />
        <span>
          <p>Bamboo Agency Group Logo</p>
          <h5>Lucy Ann</h5>
        </span>
      </a> -->
    </section>

    <section class="top-creator cr-content" id="topCreator">
      <h3>Top Creator</h3>
      <!-- <a class="post" href="postpage.html">
        <img src="/Images/ (18).jpg" alt="" />
        <span>
          <h5>Matt Sam</h5>
          <p>Multimedia</p>
        </span>
        <div class="active">Active</div>
      </a>
      <a class="post" href="postpage.html">
        <img src="/Images/(20).jpg" alt="" />
        <span>
          <h5>Prince Asante</h5>
          <p>Advertising</p>
        </span>
        <div class="active">Offline</div>
      </a>
      <a class="post" href="postpage.html">
        <img src="/Images/(23).jpg" alt="" />
        <span>
          <h5>Shawn Mensah</h5>
          <p>Visual Communication</p>
        </span>
        <div class="active">Active</div>
      </a> -->
      <!-- <a class="post" href="postpage.html">
        <img src="/Images/(21).jpg" alt="" />
        <span>
          <h5>Jeff Bediako</h5>
          <p>Advertising</p>
        </span>
        <div class="active">Active</div>
      </a> -->
    </section>
  </div>