{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dabble {% block title %}{% endblock %}</title>

    {% if selection == "home" %}
      <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    {% elif selection == "profile" %}
      <link rel="stylesheet" href="{% static 'css/profilepage.css' %}" />
    {% elif selection == "exhibition" %}
      <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    {% elif selection == "dashboard"%}
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    {% elif selection == "gallery_animation"%}
      <link rel="stylesheet" href="{% static 'css/gallery_tabs.css' %}" />
    {% elif selection == "library"%}
      <link rel="stylesheet" href="{% static 'css/library.css' %}" />
    {% elif selection == "chat" %}
        <link rel="stylesheet" href="{% static 'css/chatpage.css' %}" />
    {% elif selection == "search" %}
        <link rel="stylesheet" href="{% static 'css/searchpage.css' %}" />
     {% elif selection == "virtualtour" %}
        <link rel="stylesheet" href="{% static 'css/virtualtour.css' %}" />
    {% endif %}
  </head>
  <body>
<!-- 
    <div class="side-bar" id="side-bar">

      <button class="side-bar-toggle" id="side-bar-toggle">
        <img id="side-toggle-img" src="{% static 'icons/arrow 2icons.svg' %}" alt="" />
      </button>

      <a class="s-ico active" href="index.html">
        <img src="{% static 'iocns/homeicons.svg' %}" alt="" />
        <span class="s-text hide">Home</span>
      </a>
      <a class="s-ico" href="profilepage.html">
        <img src="{% static 'icons/profile icon darkicons.svg' %}" alt="" />
        <span class="s-text hide">Profile</span>
      </a>
      <a class="s-ico">
        <img src="{% static 'icons/library darkicons.svg' %}" alt="" />
        <span class="s-text hide">Library</span>
      </a>
      <a class="s-ico">
        <img src="{% static 'icons/profile darkicons.svg' %}" alt="" />
        <span class="s-text hide">Exhibition</span>
      </a>
      <a class="s-ico">
        <img src="{% static 'icons/virtual tour darkicons.svg' %}" alt="" />
        <span class="s-text hide">Virtual Tour</span>
      </a>
      <a class="s-ico">
        <img src="{% static 'icons/settings darkicons.svg' %}" alt="" />
        <span class="s-text hide">Settings</span>
      </a>
      <a class="s-ico">
        <img src="{% static 'icons/Post darkicons.svg' %}" alt="" />
        <span class="s-text hide">Post</span>
      </a>
    </div> -->
    <!-- Navigation bar -->
     {% include 'partials/_navigationbar.htm' %}

      {% block content %}


      {% endblock %}
    {% block include_js %}
    {% endblock %}
    
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        // DOM loaded

    {% block domready %}

    {% endblock %}
      })
    </script>

    <script src="{% static 'js/sidebar.js' %}"></script>
      <script>
      const csrf_token = "{{ csrf_token }}";
      const creatorName = "{{ request.user.creator_profile.id }}"
      {% comment %} const creatorProfile = "{{ request.user.creator_profile.id }}" {% endcomment %}
      {% comment %} console.log(creatorProfile) {% endcomment %}
      
  </script>
  </body>
</html>
