{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dabble | Home</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
  </head>
  <body>

    <!-- Navigation bar-->
    {% include 'partials/_navbar.html' %}

        <div class="main" id="main-view">
        <!-- Top navigational bar-->
        {% include 'partials/_topnav.html' %}

      <div class="content">
        <div class="content-main">
          <div class="banner">
            <img src="{% static 'images/cloudy.jpg' %}" alt="" />
          </div>
          {% block content %}

          {% endblock %}

        <!-- CONTENT RIGHT -->
        <!-- sidebar navigational bar-->
        {% include "partials/_sidebar.html" %}
      </div>
    </div>
  </body>
  <script src="{% static 'js/recommendedBooks.js' %}"></script>
  <script src="{% static 'js/postController.js' %}"></script>
  <script src="{% static 'js/trendsController.js' %}"></script>
</html>